<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio" href="/tabs/inicio">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Início</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="conversa" href="/tabs/conversa">
      <ion-icon aria-hidden="true" name="paper-plane"></ion-icon>
      <ion-label>Conversa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="biblioteca" href="/tabs/biblioteca">
      <ion-icon aria-hidden="true" name="folder"></ion-icon>
      <ion-label>Biblioteca</ion-label>
    </ion-tab-button>

  <ion-tab-button tab="eventos" href="/tabs/eventos">
      <ion-icon aria-hidden="true" name="calendar-clear"></ion-icon>
      <ion-label>Eventos</ion-label>
    </ion-tab-button>

    <!--<ion-tab-button tab="definicoes" href="/tabs/definicoes">
      <ion-icon aria-hidden="true" name="cog"></ion-icon>
      <ion-label>Definições</ion-label>
    </ion-tab-button>-->
  </ion-tab-bar>

</ion-tabs>
