ion-content {
  --background: #2e0505;
  color: white;
}

ion-card {
  --background: #3b0b0b;
  color: white;
  margin-bottom: 16px;
}

ion-card-title {
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
}

.info-box {
  background: #632121;
  padding: 12px;
  border-radius: 10px;
  margin: 8px 0 16px;
  color: white;
  font-style: italic;
}

.filme-card {
  background: #521111;
  margin-bottom: 8px;
}

.espaco-top {
  margin-top: 18px;
}
